---
layout: "base"
list: [
    {name: "Get started", href: "/fw/start/", children: [
		{name: "1. Start", hname: "#step1"},
		{name: "2. Variables", hname: "#step2"},
		{name: "3. Icons", hname: "#step3"},
		{name: "4. Prefix", hname: "#step4"},
		{name: "Gulp", hname: "#gulp"}
	]},
    {name: "LESS variables", href: "/fw/vars/", children: [
		{name: "Options", hname: "#options"},
		{name: "Fonts", hname: "#fonts"},
		{name: "Colors", hname: "#colors"},
		{name: "Layout", hname: "#layout"},
		{name: "Modals", hname: "#modals"},
		{name: "Other", hname: "#other"},
		{name: "CSS Variables", hname: "#cssvars"},
		{name: "In progress", hname: "#inprogress"}
	]},
    {name: "LESS functions", href: "/fw/functions/", children: [
        {name: "Arrows", hname: "#arrows"},
        {name: "Font", hname: "#font"},
        {name: "Gradient", hname: "#gradient"},
        {name: "Media", hname: "#media"},
        {name: "Scroll", hname: "#scroll"},
        {name: "Button", hname: "#button"},
        {name: "Grid", hname: "#grid"},
        {name: "Icon", hname: "#icon"}
    ]}
]
---
<header>

    <div class="box card">
        <div class="menu menu-dr">
            <i class="liga cam">menu</i>
        </div>
        <a class="logo" href="/">

            <svg class="dblock" preserveaspectratio="xMidYMid meet" viewbox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M53.3303 26.8327C53.3303 41.2873 41.6125 53.0051 27.1579 53.0051C12.7033 53.0051 0.985535 41.2873 0.985535 26.8327C0.985535 12.3781 12.7033 0.660339 27.1579 0.660339C41.6125 0.660339 53.3303 12.3781 53.3303 26.8327Z" fill="#E7EE14"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.1579 48.0051C38.8511 48.0051 48.3303 38.5259 48.3303 26.8327C48.3303 15.1395 38.8511 5.66034 27.1579 5.66034C15.4647 5.66034 5.98553 15.1395 5.98553 26.8327C5.98553 38.5259 15.4647 48.0051 27.1579 48.0051ZM27.1579 53.0051C41.6125 53.0051 53.3303 41.2873 53.3303 26.8327C53.3303 12.3781 41.6125 0.660339 27.1579 0.660339C12.7033 0.660339 0.985535 12.3781 0.985535 26.8327C0.985535 41.2873 12.7033 53.0051 27.1579 53.0051Z" fill="black"/>
                <path d="M28.7858 23.6241L28.278 14.8574L24.02 15.1391L22.9242 25.3771L26.2689 26.8274L26.4977 30.0307L22.8368 31.4035L23.0656 41.0133L31.0738 40.5557L31.5314 38.2677L27.8705 36.4372L28.0994 33.9204L31.3026 31.8611L31.989 25.6834L28.7858 23.6241Z" fill="black"/>
            </svg>
        </a>

        <nav class="lauto">
            <a href="https://cdn.jsdelivr.net/npm/shut@6/dist/css/sh.min.css" target="_blank" class="download"><i class="liga">download</i><span> Download</span></a>
            <a href="/css/general">Docs</a>
            <a href="https://github.com/ayyash/shut" class="github">
                <i class="liga">github</i>
            </a>

        </nav>

    </div>

</header>
<div class="modal-drawer animate fromleft">
    {% modal "Content", ".menu-dr" %}
    <ul class="alist">
        {% for item in list %}

            <li>
                <a {% if page.url === item.href %} aria-current="page" {% endif %} href="{{item.href}}">
                    {{item.name}}
                </a>
                {% if page.url === item.href %} 
                 <ul class="subnav alist">
                     {% for child in item.children %}
                      <li><a class="cam" href="{{ child.hname}}">{{ child.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
               
            </li>
        {% endfor %}
    </ul>
    {% endmodal %}
</div>
<div class="dt-menu">
    <ul class="alist">
        {% for item in list %}
            <li>
                <a {% if page.url === item.href %} aria-current="page" {% endif %} href="{{item.href}}" class="top">

                    {{item.name}}
                </a>
                 {% if page.url === item.href %} 
                 <ul class="subnav alist">
                     {% for child in item.children %}
                      <li><a class="cam" href="{{ child.hname}}">{{ child.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="page withoutline">
    <div class="container">

        <h1 class="f1 spaced">{{ title }}</h1>
        {% block content %}
            {{ content | safe }}
        {% endblock content %}

    </div>
</div>