---
layout: "base"
list: [
    {name: "General", href: "/app/css/general"},
    {name: "Forms", href: "/app/css/forms"},
    {name: "Grid", href: "/app/css/grid"},
    {name: "Tables", href: "/app/css/tables"},
    {name: "Type", href: "/app/css/type"},
    {name: "Icons", href: "/app/css/icons"},
    {name: "Functions", href: "/app/css/functions"},
]
---
<div class="row-spaced">
    <div class="col md-3">
        <ul class="rowlist">
            {% for item in list %}

            <li>
                <a href="{{item.href}}">

                {{item.name}}
                </a>
            </li>
            {% endfor %}
        </ul>        
    </div>
    <div class="col md-9">

{% block content %}
    {{ content | safe }}
{% endblock content %}
    </div>
</div>