---
layout: "base"
list: [
    {name: "General", href: "/css/general"},
    {name: "Grid", href: "/css/grid"},
    {name: "Tables", href: "/css/tables"},
    {name: "Type", href: "/css/type"},
    {name: "Icons", href: "/css/icons"},
    {name: "Lists", href: "/css/lists"},
    {name: "Color", href: "/css/color"},
    {name: "Card", href: "/css/card"},
    {name: "Forms", href: "/css/forms"},
    {name: "Modal", href: "/css/modal"},
]
---
<header>


<div class="page withoutline">
    <div class="container">

        <ul class="row">
            {% for item in list %}

                <li class="box box-white">
                    <a href="{{item.href}}">

                        {{item.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
</header>

{% block content %}
    {{ content | safe }}
{% endblock content %}
