
// inject:icons
@icon-search: "\e90c";	.icon(icon-search,@icon-search);
@icon-place: "\e90d";	.icon(icon-place,@icon-place);
@icon-npm: "\e908";	.icon(icon-npm,@icon-npm);
@icon-sun: "\e909";	.icon(icon-sun,@icon-sun);
@icon-x: "\e90a";	.icon(icon-x,@icon-x);
@icon-moon: "\e90b";	.icon(icon-moon,@icon-moon);
@icon-github: "\e907";	.icon(icon-github,@icon-github);
@icon-link: "\e900";	.icon(icon-link,@icon-link);
@icon-menu: "\e901";	.icon(icon-menu,@icon-menu);
@icon-down: "\e902";	.icon(icon-down,@icon-down);
@icon-left: "\e903";	.icon(icon-left,@icon-left);
@icon-right: "\e904";	.icon(icon-right,@icon-right);
@icon-up: "\e905";	.icon(icon-up,@icon-up);
@icon-download: "\e906";	.icon(icon-download,@icon-download);

// endinject
 
// font basics
.symbolDef() {
    vertical-align: middle;
    font-size: 150%;
    // line-height: 1;
}

.search-icon {
    .getIcon(@icon-search);

}

.next-icon {
    .getIcon(@icon-right, "after");
}

.expand-icon {
    color: @green;
    .getIcon(@icon-down);

    &.expanded {
        .changeIcon(@icon-up);
    }
}

.collapse-icon {
    color: @red;
    .getIcon(@icon-up, "after");

    &.collapsed {
        .changeIcon(@icon-down, "after");
    }
}



