.outline {
    position: fixed;
    top: 10rem;
    left: 0;
    width: 20vw;
    padding: @space;
    font-size: 90%;
    bottom: 0;
    overflow-y: auto;
    .scroll(2px);

}


.media(md, {
	.page.withoutline {
		.container {
			padding-left: 15vw;
		}
	}
});

