@icomoon-font-family: "sh";
@icomoon-font-path: "fonts";

@icon-search: "\e90c";
@icon-place: "\e90d";
@icon-npm: "\e908";
@icon-sun: "\e909";
@icon-x: "\e90a";
@icon-moon: "\e90b";
@icon-github: "\e907";
@icon-link: "\e900";
@icon-menu: "\e901";
@icon-down: "\e902";
@icon-left: "\e903";
@icon-right: "\e904";
@icon-up: "\e905";
@icon-download: "\e906";

