
<section>
	<a class="anchor-target" name="borders"></a>
	<h3 class="f3 spaced">Border radius</h3>
	<p>Use this function to set radius when <code class="shut-inline">@enable-rounded</code> is set to true. Otherwise
		it is ignored. Default is 2px.</p>
	<pre><code class="language-less">// enable radius in vars
@enable-rounded: true;

// use function 
.border-radius(@radius: 2px);
</code></pre>

	<p>Or use the following shortcuts to set different borders, independent of <code
			class="shut-inline">@enable-rounded</code>.</p>
	<pre><code class="language-less">// default 2px, if less than zero, it is ignored
#border-radius > .all(@radius: 2px);
#border-radius > .topright(@radius: 2px);
#border-radius > .topleft(@radius: 2px);
#border-radius > .bottomright(@radius: 2px);
#border-radius > .bottomleft(@radius: 2px);</code></pre>

	<h4 class="f4">Example</h4>
	<pre><code class="language-less">.borderradius {
	#border-radius > .topleft(20px);
	#border-radius > .bottomright(5px);
	padding: @space;
}</code></pre>
	<div class="box box-white">
		<div class="box-grey borderradius">Adding radius</div>
	</div>
</section>